$orange: #ee5e0e;
$light-gray: #f5efef;

select:focus{
  outline: none;
};

.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 80%;

  &__select {
    align-self: center;
    margin: 2rem 0;
    width: 80%;

    &__label {
      font-weight: bold;
      margin-right: .5rem;
    };
  };

  &__button {
    align-items: center;
    background-color: $light-gray;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 1.3rem;

    &__selected {
      align-items: center;
      background-color: $orange;
      border: none;
      color: white;
      display: flex;
      flex-direction: column;
      padding: 1.3rem;
    };

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      transition: 500ms;
    };
  };
};